
.sezy-icon {
  &[disabled] {
    fill: var(--text-disabled-color);
    pointer-events:none;
    user-select: none;
  }
}
/* .sezy-icon > * {
  fill: inherit;
} */
.sezy-icon- {
  &s {
    width: var(--font-size-s);
    height: var(--font-size-s);
  }
  &m {
    width: var(--font-size-m);
    height: var(--font-size-m);
  }
  &l {
    width: var(--font-size-l);
    height: var(--font-size-l);
  }
  &xl {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
  }
  &2xl {
    width: var(--font-size-2xl);
    height: var(--font-size-2xl);
  }
  &3xl {
    width: var(--font-size-3xl);
    height: var(--font-size-3xl);
  }
}
