.sezy-table_column-type-list{
    max-height: 50vh;
    overflow-y: auto;
    padding: var(--spacing-s);
    >*{
        padding: var(--spacing-m) var(--spacing-l);
        cursor: pointer;
        border-radius: 3px;
        text-transform: capitalize;
        &:hover{
            background: var(--background-hover)
        }
        &>i{
            margin-right: var(--spacing-m);
        }
    }
}
