.sezy-table_header{
  white-space: nowrap;
  font-weight: var(--table-header-weight);
  >div{
    display: inline-flex;
    background-color: var(--table-header-background-color);
  }
  >div:not(:last-child){
    flex-basis:800px;
    flex:1;
    &:hover{
      background-color: var(--background-hover);
    }
  }
  &_column{
    padding: 0 var(--spacing-m);
    height: var(--size-l);
    line-height: var(--size-l);
    cursor: pointer;
    user-select: none;
    width: 500px;
    display: flex;
    position: relative;
  }
  &_column-settings{
    display: flex;
    position: relative;
    >div{
      height: var(--size-l);
      width:  var(--size-l);
      line-height: var(--size-l);
      text-align: center;
      cursor: pointer;
      position: relative;
      &:hover{
        background-color: var(--background-hover);
      }
    }
  }
}


.sezy-table_header{
  &_icon{
    background-color: var(--table-header-color);
  }
  &_sort{
    position: absolute;
    top: 12px;
    right: var(--spacing-m);
    background-color: var(--table-header-color);
    [direction=down]{
      transform: rotate(90deg);
    }
  }
  &_dropdown{
    &_options{
      width: 250px;
      min-width: 0 !important;
    }
    &_header{
      display: flex;
      justify-content: space-between;
      gap:  var(--spacing-m);
      padding: var(--spacing-l) var(--spacing-m);
      &>*:last-child{
        flex: 1;
      }
    }
    &_item-group{
      border-top: 1px solid #eee;
      &>div{
        padding: var(--spacing-m);
        text-transform: capitalize;
        cursor: pointer;
        display: flex;
        align-items: center;
        &>i{
          margin-right: var(--spacing-m);
        }
        &:hover{
          background-color: var(--dropdown-item-hover-background-color);
        }
      }
    }
  }
}

.sezy-table-last_column{
  width: 72px;
  white-space: nowrap;
  &>div{
    &>div{
      height: var(--size-l);
      width:  var(--size-l);
      line-height: var(--size-l);
      text-align: center;
      &:hover{
        background-color: var(--background-hover);
      }
    }
  }

  i{
    background: var(--table-header-color);
  }
}

.sezy-table-header_dropdown{
  width: 24rem;
}