.sezy-dropdown {
    position: relative;
    user-select: none;
    box-sizing: border-box;
    
    &_label{
    
    }
    &_items{
        position: absolute;
        top: 0;
        border: 1px solid var(--table-border-color);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.48);
        /* padding: var(--spacing-l) var(--spacing-xl); */
        background-color: #fff;
        border-radius: 3px;
        font-size: var(--font-size-m);
        /* &>div{
            padding: 0 8px;
            &:not(:first-child){
                border-top: 1px solid var(--table-border-color);
            }
        } */

        &--align{
            &-center{
                transform: translateX(-50%)
            }
        }
    }
}