.banner{
    height: 100vh;
    background: linear-gradient(180deg,#9fb9f34d 0%,rgba(159,185,243,0) 100%);
    border-radius: 15px 15px 0 0;
    padding: 0 28px;
    box-sizing: border-box;
}

.logo{
    text-align: center;
    >img{
        width: 80px;
        height: 80px;
        padding:10px;
        background: #ffffff;
        box-shadow: 0 24px 32px #0000000a, 0 16px 24px #0000000a, 0 4px 8px #0000000a, 0 0 1px #0000000a;
        border-radius: 25px;
        margin-top: 100px;
    }
}

.headline{
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    margin-top: 56px;

    @media (--sm){
        font-size: 50px;
        line-height: 71px;
    }
}

.subline{
    text-align: center;
    font-size: 17px;
    line-height: 200%;
    margin-top: 27px;
}

.timeline{
    margin-top: 30px;
    width: 100%;

    @media (--sm){
        margin-top: 120px;
    }
}