.banner{
    background: linear-gradient(180deg,#9fb9f34d 0%,rgba(159,185,243,0) 100%);
    border-radius: 15px 15px 0 0;
    padding: 28px;
    box-sizing: border-box;
    text-align: center;
    @media (--sm){
        display: flex;
        padding: 100px 28px;
    }
    &>*{
        flex:1;
    }
}

.headline{
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    margin-top: 56px;

    @media (--sm){
        font-size: 50px;
        line-height: 71px;
        text-align: left;
    }
}

.subline{
    text-align: left;
    font-size: 17px;
    line-height: 200%;
    margin-top: 27px;
    margin-bottom: 36px;
}

.img{
    width: 100%;
    @media (--sm){
        width: 50%;
    }
}