.button {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  padding: 0 22px;
  background-color: var(--primary-color);
  border-radius: 150px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  margin: auto;
}